section.details-section
  .wrapper
    .details-section__container
      img.details-section__img-bg-1(src="images/details-section-img-bg-1.png" loading="lazy" width="342" height="216" alt="image")
      img.details-section__img-bg-2(src="images/details-section-img-bg-2.png" loading="lazy" width="220" height="772" alt="image")
      h2.details-section__title.font-w-h-regular.font-s-64.text-up
        | Так будет выглядеть ваша
        br
        | кофейня 
        span.details-section__title-mark после открытия
      .swiper-bullet
        .details-section__cards.swiper-wrapper
          .details-section__card.swiper-slide
            img.details-section__card-img.b-radius-16(src="images/details-section-card-img-1.jpg" loading="lazy" width="380" height="279" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img.b-radius-16(src="images/details-section-card-img-2.jpg" loading="lazy" width="380" height="279" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img-desc.b-radius-16(src="images/details-section-card-img-3.jpg" loading="lazy" width="380" height="483" alt="image")
            img.details-section__card-img-mobile.b-radius-16(src="images/details-section-card-img-3-mobile.jpg" loading="lazy" width="380" height="279" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img.b-radius-16(src="images/details-section-card-img-4.jpg" loading="lazy" width="380" height="279" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img.b-radius-16(src="images/details-section-card-img-5.jpg" loading="lazy" width="380" height="279" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img.b-radius-16(src="images/details-section-card-img-6.jpg" loading="lazy" width="380" height="279" alt="image")
        .bullet-pagination
