header.header
  .wrapper
    .header__container
      .header__brand
        .font-w-bold.font-s-18 DOBBY COFFEE
        .font-w-regular.font-s-16-a Франшиза авторской кофейни
      img.header__logo(src="images/logo-header.png" loading="lazy" width="336" height="249" alt="logo")
      .header__call-me
        button.btn.btn--call-me(data-remodal-target="modal-form-call-me") обратный звонок
    .header__brand-mobile.font-w-regular.font-s-16-a Франшиза авторской кофейни
