section.invest-section
  .wrapper
    .invest-section__container
      img.invest-section__img-bg-1(src="images/invest-section-img-bg-1.png" loading="lazy" width="503" height="599" alt="image")
      img.invest-section__img-bg-2(src="images/invest-section-img-bg-2.png" loading="lazy" width="210" height="212" alt="image")
      h2.invest-section__title.font-w-h-regular.font-s-64-a.text-up
        | Выберите 
        span.invest-section__title-mark формат запуска 
        | кофейни
      .swiper-bullet
        .invest-section__cards.swiper-wrapper
          .invest-section__card.b-radius-16.swiper-slide
            .font-w-bold.font-s-26-a Кофе с собой
            .invest-section__card-sub-title.font-s-18
              | Площадь: 
              span.font-w-bold 20-50 кв.м
            img.invest-section__img.b-radius-16(src="images/invest-section-img-1.jpg" loading="lazy" width="310" height="209" alt="image")
            .font-s-18
              | Скачайте подробное описание
              br
              | формата и финансовую модель
            button.btn.invest-section__btn(data-remodal-target="modal-form-format") Скачать
          .invest-section__card.b-radius-16.swiper-slide
            .font-w-bold.font-s-26-a Малая кофейня
            .invest-section__card-sub-title.font-s-18
              | Площадь: 
              span.font-w-bold от 100 кв.м
            img.invest-section__img.b-radius-16(src="images/invest-section-img-2.jpg" loading="lazy" width="310" height="209" alt="image")
            .font-s-18
              | Скачайте подробное описание
              br
              | формата и финансовую модель
            button.btn.invest-section__btn(data-remodal-target="modal-form-format") Скачать
          .invest-section__card.b-radius-16.swiper-slide
            .font-w-bold.font-s-26-a Кофейня полного цикла
            .invest-section__card-sub-title.font-s-18
              | Площадь: 
              span.font-w-bold от 200 кв.м
            img.invest-section__img.b-radius-16(src="images/invest-section-img-3.jpg" loading="lazy" width="310" height="209" alt="image")
            .font-s-18
              | Скачайте подробное описание
              br
              | формата и финансовую модель
            button.btn.invest-section__btn(data-remodal-target="modal-form-format") Скачать
        .bullet-pagination
