section.steps-section
  .out-wrapper.steps-section__out-wrapper
    .wrapper
      .steps-section__container
        h2.steps-section__title.font-w-h-regular.font-s-64.text-up
          | Как будет проходить 
          span.steps-section__title-mark процесс запуска
        .swiper-bullet
          .steps-section__cards.swiper-wrapper
            .steps-section__card.b-radius-16.swiper-slide
              .steps-section__card-num.font-s-16-b 01
              .steps-section__card-icon-wrapper
                img.steps-section__icon(src="images/steps-section-icon-1.png" loading="lazy" width="33" height="32" alt="icon")
              .font-s-18
                | Заключение договора 
                br.no-br
                | франшизы
            .steps-section__card.b-radius-16.swiper-slide
              .steps-section__card-num.font-s-16-b 02
              .steps-section__card-icon-wrapper
                img.steps-section__icon(src="images/steps-section-icon-2.png" loading="lazy" width="33" height="32" alt="icon")
              .font-s-18
                | Поиск помещения 
                br.no-br
                | и заключение договора 
                br.no-br
                | аренды
            .steps-section__card.b-radius-16.swiper-slide
              .steps-section__card-num.font-s-16-b 03
              .steps-section__card-icon-wrapper
                img.steps-section__icon(src="images/steps-section-icon-3.png" loading="lazy" width="33" height="32" alt="icon")
              .font-s-18
                | Ремонт и оформление 
                br.no-br
                | помещения
            .steps-section__card.b-radius-16.swiper-slide
              .steps-section__card-num.font-s-16-b 04
              .steps-section__card-icon-wrapper
                img.steps-section__icon(src="images/steps-section-icon-4.png" loading="lazy" width="33" height="32" alt="icon")
              .font-s-18
                | Поиск персонала
            .steps-section__card.b-radius-16.swiper-slide
              .steps-section__card-num.font-s-16-b 05
              .steps-section__card-icon-wrapper
                img.steps-section__icon(src="images/steps-section-icon-5.png" loading="lazy" width="33" height="32" alt="icon")
              .font-s-18
                | Доставка и монтаж 
                br.no-br
                | приобретенного 
                br.no-br
                | оборудования, мебели
            .steps-section__card.b-radius-16.swiper-slide
              .steps-section__card-num.font-s-16-b 06
              .steps-section__card-icon-wrapper
                img.steps-section__icon(src="images/steps-section-icon-6.png" loading="lazy" width="33" height="32" alt="icon")
              .font-s-18
                | Обучение персонала
            .steps-section__card.b-radius-16.swiper-slide
              .steps-section__card-num.font-s-16-b 07
              .steps-section__card-icon-wrapper
                img.steps-section__icon(src="images/steps-section-icon-7.png" loading="lazy" width="33" height="32" alt="icon")
              .font-s-18
                | Техническое открытие
            .steps-section__card.b-radius-16.swiper-slide
              .steps-section__card-num.font-s-16-b 08
              .steps-section__card-icon-wrapper
                img.steps-section__icon(src="images/steps-section-icon-8.png" loading="lazy" width="33" height="32" alt="icon")
              .font-s-18
                | Официальное открытие
          .bullet-pagination
        .steps-section__bottom
          .font-w-bold.font-s-26 Работаем строго по договору,
          .steps-section__bottom-text.font-s-18
            | в котором описаны наши обязанности 
            br
            | и все условия сотрудничества
          button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") Скачать пример договора
        img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="573" height="324" alt="image")
